<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yellow_river.mapper.BedcCityMappingMapper">
  <sql id="Base_Column_List">
  CITY_CODE,
  CITY_NAME,
  PROVINCE_CODE,
  PROVINCE_NAME
</sql>
  <resultMap id="BaseResultMap" type="com.example.yellow_river.model.BedcCityMapping">
    <!--@mbg.generated-->
    <!--@Table BEDC_CITY_MAPPING-->
    <result column="CITY_CODE" jdbcType="CHAR" property="cityCode" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
  </resultMap>
  <insert id="insert" parameterType="com.example.yellow_river.model.BedcCityMapping">
    <!--@mbg.generated-->
    insert into BEDC_CITY_MAPPING (CITY_CODE, CITY_NAME, PROVINCE_CODE, 
      PROVINCE_NAME)
    values (#{cityCode,jdbcType=CHAR}, #{cityName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{provinceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.yellow_river.model.BedcCityMapping">
    <!--@mbg.generated-->
    insert into BEDC_CITY_MAPPING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="cityName != null">
        CITY_NAME,
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE,
      </if>
      <if test="provinceName != null">
        PROVINCE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityCode != null">
        #{cityCode,jdbcType=CHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-10-26-->
  <select id="selectAllByCityNameLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from BEDC_CITY_MAPPING
    where CITY_NAME like concat(#{likeCityName,jdbcType=VARCHAR},'%')
  </select>
</mapper>