<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yellow_river.mapper.BedcAreamMappingMapper">
  <resultMap id="BaseResultMap" type="com.example.yellow_river.model.BedcAreamMapping">
    <!--@mbg.generated-->
    <!--@Table BEDC_AREAM_MAPPING-->
    <id column="AREAM_CODE" jdbcType="VARCHAR" property="areamCode" />
    <result column="SUB_AREAM_CODE" jdbcType="CHAR" property="subAreamCode" />
    <result column="AREAM_NAME" jdbcType="VARCHAR" property="areamName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    AREAM_CODE, SUB_AREAM_CODE, AREAM_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from BEDC_AREAM_MAPPING
    where AREAM_CODE = #{areamCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from BEDC_AREAM_MAPPING
    where AREAM_CODE = #{areamCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.yellow_river.model.BedcAreamMapping">
    <!--@mbg.generated-->
    insert into BEDC_AREAM_MAPPING (AREAM_CODE, SUB_AREAM_CODE, AREAM_NAME
      )
    values (#{areamCode,jdbcType=VARCHAR}, #{subAreamCode,jdbcType=CHAR}, #{areamName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.yellow_river.model.BedcAreamMapping">
    <!--@mbg.generated-->
    insert into BEDC_AREAM_MAPPING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="areamCode != null">
        AREAM_CODE,
      </if>
      <if test="subAreamCode != null">
        SUB_AREAM_CODE,
      </if>
      <if test="areamName != null">
        AREAM_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="areamCode != null">
        #{areamCode,jdbcType=VARCHAR},
      </if>
      <if test="subAreamCode != null">
        #{subAreamCode,jdbcType=CHAR},
      </if>
      <if test="areamName != null">
        #{areamName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.yellow_river.model.BedcAreamMapping">
    <!--@mbg.generated-->
    update BEDC_AREAM_MAPPING
    <set>
      <if test="subAreamCode != null">
        SUB_AREAM_CODE = #{subAreamCode,jdbcType=CHAR},
      </if>
      <if test="areamName != null">
        AREAM_NAME = #{areamName,jdbcType=VARCHAR},
      </if>
    </set>
    where AREAM_CODE = #{areamCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.yellow_river.model.BedcAreamMapping">
    <!--@mbg.generated-->
    update BEDC_AREAM_MAPPING
    set SUB_AREAM_CODE = #{subAreamCode,jdbcType=CHAR},
      AREAM_NAME = #{areamName,jdbcType=VARCHAR}
    where AREAM_CODE = #{areamCode,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-10-26-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from BEDC_AREAM_MAPPING
    where 1=1
    <if test="areamCode != null">
      and AREAM_CODE=#{areamCode,jdbcType=VARCHAR}
    </if>
    <if test="subAreamCode != null">
      and SUB_AREAM_CODE=#{subAreamCode,jdbcType=CHAR}
    </if>
    <if test="areamName != null">
      and AREAM_NAME=#{areamName,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-10-26-->
  <update id="updateSubAreamCodeByAreamCode">
    update BEDC_AREAM_MAPPING
    set SUB_AREAM_CODE=#{updatedSubAreamCode,jdbcType=CHAR}
    where AREAM_CODE=#{areamCode,jdbcType=VARCHAR}
  </update>
</mapper>